
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<style>.menu_nav ul li {
    margin: 0;
    padding: 4px 5px 15px 0;
    float: left;
    background: url(images/menu_line.jpg) repeat-x top;
}
p {
    margin: 8px 0;
    padding: 3px 4px 8px 328px;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}

.button-15 {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#ffffff, #0078ff);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(255 255 255 / 40%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(255 255 255 / 60%);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-box .user-box {
  position: relative;

}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 27px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

</style>
<div class="login-box" style="top: 1%;">
  <form style=" margin: 0px 0 0px 0px;
    position: inherit;
    clear: left;
    padding: 0px 0px;
    text-align: center;" >
    <a href="{% url 'home' %}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Back To Home page
    </a>
  </form>
</div>

    {% if user.is_authenticated == 0 %}
<div class="login-box">
    <h2>Welcome Back To NextDoor</h2>
  <h2>Login</h2>
  <form method="post" >
{% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
    <button style="background-color: transparent;
    background-repeat: no-repeat;
    border: none;"><a >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Sign In
    </a></button>
      </form>
  <form style=" margin: -97px 0 33px 104px;
    position: inherit;
    clear: left;
    padding: 1px 51px;
    text-align: center;" >
    <a href="{% url 'signup' %}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Sign Up
    </a>
  </form>

</div>
    {% else %}
    <div class="logo" style="width: 63px;
    width: 302px;
    height: 156px;
    padding: 58px;
    margin: -68px 265px;">
        <h1><a href="#"><span>Sign</span>In<small>Welcome Back to NextDoor</small></a></h1>
        <h1>You are already logged in</h1>
      </div>
     {% endif %}
{% endblock content %}
